<strong>Recuperando senha</strong>

<p>solicitacao de recuperacao de senha solicitada para o e-mail ({{ email }}). troque a senha</p>

<p>utilize o token {{ token }} ou clique abaixo</p>

<a href="{{ link }}">Criar nova senha</a>